body{
    margin: 0px;
    padding: 0px;
    background: #e2e2e2;
    background-image: url(CYBERSICURITY2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip:initial;
    aspect-ratio: 16/9;
}
#userInput{
    cursor: text;
    height: 40px;
    width: 350px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(6, 161, 6);
}
#submitBtn{
    color:#ffffff;
    background: #0000ff;
    cursor: pointer;
    height: 30px;
    width: 100px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(4, 4, 176);
}
#passwordChecker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: arial,san-serif,sang UI;
}
#nameHolder{
    cursor: text;
    height: 40px;
    width: 350px;
    border-radius: 10px;
    outline: none;
    front-size:18px;
    border: 2px solid rgb(6, 161, 6);
}
#verifyme{
    display: inline-flex;
    gap:4px;
}
.textColor{
    color: #ffffff;
}
#para a{
    margin: 5px;
    border: 2px solid yellow;
    border-radius: 12px;
    background-clip: text;
    z-index: 1;
    color: whitesmoke;
    outline: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
#checkName{
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;
    height: 30px;
    width: 90px;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #0000ff;
    z-index: 1;
}
